:root {
  /* Core Colors */
  --base-bg: #F9F8D9;
  --sidebar-bg: #1A1A1A;
  --accent: #DCEF62;
  --text-dark: #1A1A1A;
  --text-light: #FFFFFF;

  /* Optional tones for later use */
  --muted: #bfbfbf;
  --highlight: #8C52FF;
  /* secondary accent, tweak if you prefer another */
  --primary: #8C52FF;
  /* primary action color */
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--base-bg);
  color: var(--text-dark);
  
}